<div class="container"> <br />
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload files</strong></div>
        <div class="panel-body">

          <% if @recording.errors.any? %>
            <div class="alert alert-danger">
              Please address the errors with your submission
            </div>
          <% end %>

          <% if @recording.errors[:latitude].any? %>
            <div class="alert alert-danger">
              <% @recording.errors[:latitude].each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </div>
          <% end %>

          <%= bootstrap_form_for(@recording) do |f| %>
            <div>
              <%= f.text_field :title%>
            </div>

            <div>
              <%= f.select :channels, Recording.channels.keys %>
            </div>

            <div>
              <%= f.text_area :description %>
            </div>
            <div>
              <%= f.autocomplete_field :tag_list, autocomplete_tag_name_recordings_path, class: 'form-control', 'data-delimiter': ', ', multiple: true, 'data-auto-focus' => true %>
            </div>

            <div>
              <%= f.file_field :sound %>
            </div>

            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="route2" style="width:100%;height:380px;">
            </div>
            <div>
              <%=f.submit%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
