
<head>
  <%= javascript_include_tag 'maps/googlenew' %>

</head>
<body>
  <br>
  <br>
  <br>
  <br>



  <div class="form"%>
  <%= form_for(@recording) do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, size: 50%>
  </div>

  <div>
    <%= f.label :sound %>
    <%= f.file_field :sound %>
  </div>

  <div id="route2" style="width:50%;height:380px;"></div>

  <%=f.submit%>
  <%end%>
</div>
</body>

