<div class="text-center">
  <div>
    <%=image_tag("sound_traveling_512.png", :width => "50%") %>
  </div>
  <div>
    <h3><%= user.username.titleize %> </h3>
  </div>
  <div>
      <span class="glyphicon glyphicon-user" width></span> <%= user.followers.count %>

      <span class="glyphicon glyphicon-globe"></span> <%= user.recordings.count %>
  </div>
  <div>
                <%if user_signed_in? && !!current_user.following.include?(@recording.user) %>
            <h5><%=button_to "Unfollow", user_relationship_path(@recording.user, Relationship.where(follower_id: @recording.user.id,following_id:current_user.id)), :method => :delete, class: "btn btn-primary"%></h5>
            <%else%>
            <h5><%=button_to "Follow", user_relationships_path(@recording.user), :method=> :post, class: "btn btn-primary"%></h5>
            <%end%>

  </div>
</div>
