<div class="modal fade in" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>

        <h2>Sign in</h2>
      </div>

      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="input-group">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>
          </div>

          <div class="input-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field input-group">
              <%= f.check_box :remember_me %>&nbsp;<%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions input-group">
            <%= f.submit "Sign in", :class => 'btn btn-small btn-success' %>
          </div>

          <hr />

          <%= render "devise/shared/links", buttons: [:omniauth, :signup] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
