<<<<<<< HEAD
<head>
   <%= javascript_include_tag 'markerclusterer' %>
</head>
=======

<head>
   <%= javascript_include_tag 'markerclusterer' %>
</head>

>>>>>>> aae07544c66b78589a3e687e4da13f91f83ebb04
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">

        <h3>Where do you want to go?</h3>

        <div class="col-md-6 col-md-offset-3">

          <% content_for :search do %>
            <%= search_form_for @q do |f| %>
            <div class='input-group'>
              <%= f.search_field :title_or_description_or_city_or_country_or_tags_name_cont, class: "form-control", placeholder: "Where do you want to go?" %>
              <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">
                     <span class="glyphicon glyphicon-globe"></span>
                 </button>
              </span>
            <% end %>
          <% end %>
            </div>

          <%= content_tag :div, class: "recording", data: {recordings: @recordings} do %>
          <div id="googleMap" style="width:100%;height:380px;">
          <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div>
      <%= render @recordings %>
  </div>
</div>




<script>
  function Location(latitude, longitude, title, created_at, id, map) {
  this.latitude = latitude;
  this.longitude = longitude;
  this.title = title;
  this.map = map;
  this.id = id;
  this.created_at = created_at;
  this.marker = new google.maps.Marker({position: new google.maps.LatLng(this.latitude, this.longitude),
    icon: 'http://www120.lunapic.com/editor/working/145980453672967?4703904781'});
  this.infowindow = new google.maps.InfoWindow({content: '<a href="recordings/'+this.id+'">'+this.title+'</a>'});
  this.marker.setMap(this.map);
  this.addListenerToMarker();
}

Location.prototype.addListenerToMarker = function() {
  this.marker.addListener('click', function() {
    this.infowindow.open(this.map, this.marker);
  }.bind(this));
};

Location.prototype.dataForUpload = function() {
  return {latitude: this.latitude, longitude: this.longitude, title: this.title};
};

Location.prototype.saveToServer = function() {
  $.ajax({data: this.dataForUpload()});
};

var map;
var myCenter=new google.maps.LatLng(40.7064168,-74.0090889);
var locObjects;

function initialize() {
  var mapProp = {
    center:myCenter,
    zoom:2,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);


  locObjects = $('.recording').data('recordings').map(function(location) { return new Location(location.latitude, location.
    longitude, location.title, location.created_at, location.id, map) });

  var markerarray = []
  for (i=0; i< locObjects.length; i++) {
    markerarray.push(locObjects[i].marker)

  }
  var markerCluster = new MarkerClusterer(map, markerarray, {gridSize: 150});


}



google.maps.event.addDomListener(window, 'load', initialize);

  </script>
