<head>
   <%= javascript_include_tag 'markerclusterer' %>
   <%= javascript_include_tag 'index' %>
</head>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">

        <h1>Where do you want to go?</h1>

        <div class="col-md-6 col-md-offset-3">

          <% content_for :search do %>
            <%= search_form_for @q do |f| %>
            <div class='input-group'>
              <%= autocomplete_field_tag 'recording_title',
                  params[:recording_title],
                  autocomplete_recording_title_recordings_path,
                  class: "form-control",
                  placeholder: "Where do you want to go?" %>
              <span class="input-group-btn">
                 <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-globe"></span>
                 </button>
              </span>
            <% end %>
          <% end %>
            </div>

          <%= content_tag :div, class: "recording", data: {recordings: @recordings} do %>
          <div id="googleMap" style="width:100%;height:380px;">
          <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>








<div class="container">
  <div>
      <%= render @recordings %>
  </div>
</div>



